.form__confirmed {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: 40px 45px;
}

.thank-you-icon {
  width: 55px;
}

.heading-primary--confirmed {
  color: var(--marine-blue);
  margin-top: 23px;
}

.heading-secondary--confirmed {
  font-size: 1rem;
  font-weight: var(--regular-weight);
  text-align: center;
  line-height: 1.6;
  color: var(--cool-gray);

  margin-top: 10px;
}

/********************************************/
/********* PLACE AT THE VERY END *********/
/********* ADD / REMOVE CLASSES *********/
.hidden {
  display: none;
}

.hidden-btn {
  visibility: hidden;
}
