.btn-disabled {
  pointer-events: none;
}

.confirmed {
  display: none;
  align-items: center;

  padding: 80px 20px;
}

.thank-you-icon {
  width: 55px;
}

.confirmed-heading-primary {
  margin-top: 23px;
}

.confirmed-heading-secondary {
  font-size: 1rem;
  text-align: center;

  margin-top: 10px;
}
