/********************************************/
/********* SELECT PLAN *********/
#select-plan {
  margin-top: 20px;
}

/* FORM */
.form.form__select-plan {
  margin-top: 0;
}

#plan-fieldset {
  border: none;
}

.form__select-plan--monthly,
.form__select-plan--yearly {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.form__select-plan .form__item {
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;

  border: 1px solid var(--light-gray);
  border-radius: 8px;

  transition: all 0.2s ease-in-out;
  padding: 15px;
  cursor: pointer;
}

.form__item.checked {
  background-color: var(--magnolia);
  border: 1px solid var(--purplish-blue);
}

.radio-icon {
  width: 40px;
}

.input-radio {
  position: fixed;
  opacity: 0;
  width: 0;
}

.form__item-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}

.form__item-detail--name {
  font-weight: var(--medium-weight);
  color: var(--marine-blue);
}

.form__item-detail--pricing {
  font-size: 0.9rem;
  font-weight: var(--medium-weight);
  color: var(--cool-gray);
}

.form__item-detail--benefit {
  font-size: 0.7rem;
  color: var(--marine-blue);
}

/* TOGGLE PRICING */
.plan-period {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  background-color: var(--magnolia);
  border-radius: 8px;

  padding: 5px;
  margin-top: 25px;
}

.btn--period {
  background-color: transparent;
  border: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 0.9rem;
  font-weight: var(--medium-weight);

  transition: all 0.2s;
  cursor: pointer;
}

.btn--period:active {
  color: var(--purplish-blue);
}

.btn--monthly,
.btn--yearly {
  color: var(--cool-gray);
}

.btn--period.chosen-period {
  color: var(--marine-blue);
}

.btn--toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.toggle-icon {
  width: 40px;
}
