/* DEFAULT SCREEN SIZE: 375PX / MOBILE-FIRST */

/***** SMALLER SCREEN SIZE THAN DEFAULT *****/
/* screen-width <= 329px */
@media (max-width: 20.6em) {
  .nav {
    padding-block: 20px;
  }

  .heading-secondary {
    font-size: 0.95rem;
  }

  .input {
    text-indent: 12px;
  }
  .input::placeholder {
    font-size: 0.85rem;
  }

  .custom-checkbox {
    padding: 15px 10px;
  }
  .checkmark {
    left: 10px;
  }
  .custom-checkbox__text {
    padding-left: 35px;
  }
  .custom-checkbox__label-name {
    font-size: 0.85rem;
  }
  .custom-checkbox__label-description {
    font-size: 0.7rem;
  }
}
/* screen-width <= 288px */
@media (max-width: 18em) {
  .input::placeholder {
    font-size: 0.8rem;
  }
  .input__label .input__hint {
    font-size: 0.7rem;
  }

  .chosen-plan__name {
    padding-right: 5px;
  }
  .total-cost {
    padding: 10px 0 0 0;
  }
}

/***** BIGGER SCREEN SIZE THAN DEFAULT *****/
/* 660px <= screen-width */
@media (min-width: 41.25em) {
  body {
    background-position: 0 -24%;
    background-size: 100%;
  }

  .main__content-container {
    width: 85vw;
  }

  #select-plan {
    margin-top: 30px;
  }
  .form__select-plan--monthly,
  .form__select-plan--yearly {
    flex-direction: row;
    align-items: center;
    gap: 18px;
  }
  .form__select-plan .form__item {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 130px;
  }
  .radio-icon {
    padding-bottom: 30px;
  }

  #add-ons {
    margin-block: 30px 10px;
  }
  .custom-checkbox--monthly,
  .custom-checkbox--yearly {
    align-items: center;
  }
  .custom-checkbox {
    width: 75%;
  }

  #summary {
    width: 80%;
    align-self: center;
    margin-block: 30px 20px;
  }
  .summary {
    padding: 35px;
    gap: 25px;
  }
  .total-cost {
    padding: 10px 35px 0 35px;
  }
}

/* 760px <= screen-width */
@media (min-width: 47.5em) {
  .form__confirmed {
    padding-inline: 30px;
  }
}

/* BIG CHANGES - towards desktop version */
/* 864px <= screen-width */
@media (min-width: 54em) {
  html {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--magnolia);
  }
  body {
    width: 90vw;
    min-height: 0;
    height: 550px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;

    background: var(--white);
    border-radius: 15px;

    margin-block: 40px;
    padding: 25px 15px;
  }

  .nav {
    height: 100%;
    width: 180px;

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    background: url(../assets/images/bg-sidebar-desktop.svg) no-repeat;
    background-size: cover;
    border-radius: 10px;

    overflow: hidden;
    padding-top: 30px;
    padding-inline: 15px;
  }
  .nav__button {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .btn__text {
    display: flex;
    flex-direction: column;
    gap: 3px;

    color: var(--white);
    text-transform: uppercase;
  }
  .btn__text--step-num {
    font-size: 0.8rem;
    font-weight: var(--regular-weight);
  }
  .btn__text--step-title {
    font-size: 0.9rem;
    font-weight: var(--bold-weight);
  }

  .main {
    min-height: 0;
    height: 100%;

    border-radius: 15px;
    overflow: hidden;
  }
  .main__content-container {
    width: 100%;
    box-shadow: none;
    margin-bottom: 0;
  }

  .attribution {
    bottom: 10px;
  }

  .buttons {
    width: 100%;
  }

  #personal-info,
  #select-plan {
    margin-top: 40px;
  }

  .plan-period {
    margin-top: 30px;
  }

  #add-ons {
    margin-block: 40px 10px;
  }

  #summary {
    margin-block: 40px 20px;
  }

  .form__confirmed {
    padding-inline: 0;
  }
}

/* 1024px <= screen-width */
@media (min-width: 64em) {
  body {
    width: 940px;
    height: 600px;
    justify-content: flex-start;

    padding: 20px;
  }

  .nav {
    width: 275px;
    gap: 33px;

    padding-top: 40px;
    padding-inline: 30px;
  }
  .nav__button {
    gap: 17px;
  }
  .btn--nav {
    width: 33px;
    height: 33px;
    font-weight: var(--bold-weight);
  }
  .btn__text--step-num {
    font-size: 0.75rem;
  }
  .btn__text--step-title {
    font-size: 0.85rem;
    letter-spacing: 1px;
  }

  .main {
    width: 400px;
    padding-inline: 50px;
  }
  .heading-primary {
    font-size: 1.95rem;
  }
  .heading-secondary {
    font-size: 1rem;
    margin-top: 9px;
  }

  .form {
    gap: 22px;
  }
  .form__item {
    gap: 7px;
  }
  .input__label {
    font-size: 0.9rem;
  }
  .input {
    text-indent: 16px;
  }

  .buttons {
    padding-inline: 25px;
  }
  .btn--next {
    border-radius: 8px;
    padding: 15px 28px;
  }

  .form__select-plan--monthly,
  .form__select-plan--yearly {
    justify-content: space-between;
  }
  .form__select-plan .form__item {
    width: 140px;
    padding: 20px 15px;
  }
  .form__item-detail {
    gap: 6px;
  }
  .form__item-detail--pricing {
    font-weight: var(--regular-weight);
  }
  .form__item-detail--benefit {
    font-size: 0.75rem;
  }
  .plan-period {
    margin-top: 32px;
  }

  .custom-checkbox {
    width: 100%;
    padding: 20px 20px 20px 15px;
  }
  .checkmark {
    margin-left: 7px;
  }
  .custom-checkbox__text {
    padding-left: 55px;
  }
  .custom-checkbox__label-name {
    font-size: 1rem;
  }
  .custom-checkbox__label-pricing {
    font-weight: var(--regular-weight);
  }
  .custom-checkbox__label-description,
  .custom-checkbox__label-pricing {
    font-size: 0.93rem;
  }

  #summary {
    width: 100%;
  }
  .summary {
    padding: 25px;
  }
  .summary .chosen-plan__name {
    font-size: 1rem;
    font-weight: var(--medium-weight);
  }
  .total-cost {
    margin-top: 12px;
    padding: 10px 25px 0 25px;
  }
  .total-cost__price {
    font-size: 1.2rem;
  }

  .form__confirmed {
    padding-block: 100px 0;
  }
  .thank-you-icon {
    width: 80px;
  }
  .heading-primary--confirmed {
    font-size: 2rem;
    margin-top: 30px;
  }
  .heading-secondary--confirmed {
    padding-inline: 35px;
    margin-top: 15px;
  }
}
