/* screen-width <= 275.2px */
@media (max-width: 17.2em) {
}

/* screen-width <= 329px */
@media (max-width: 20.6em) {
  .nav {
    padding-block: 20px;
  }

  .main__content-container {
    padding: 33px 23px;
  }
  .heading-secondary {
    font-size: 0.95rem;
  }

  .input {
    text-indent: 12px;
  }
  .input::placeholder {
    font-size: 0.85rem;
  }
}

/* 660px <= screen-width */
@media (min-width: 41.25em) {
  body {
    background-position: 0 -24%;
    background-size: 100%;
  }

  .main__content-container {
    width: 85vw;
  }

  #select-plan {
    margin-top: 30px;
  }
  .form__select-plan--monthly,
  .form__select-plan--yearly {
    flex-direction: row;
    align-items: center;
    gap: 18px;
  }
  .form__select-plan .form__item {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 130px;
  }
  .radio-icon {
    padding-bottom: 30px;
  }

  #add-ons {
    margin-block: 30px 10px;
  }
  .custom-checkbox--monthly,
  .custom-checkbox--yearly {
    align-items: center;
  }
  .custom-checkbox {
    width: 75%;
  }

  #summary {
    width: 80%;
    align-self: center;
    margin-block: 30px 20px;
  }
  .summary {
    padding: 35px;
    gap: 25px;
  }
}

/* BIG CHANGES - towards desktop version */
/* 864px <= screen-width */
@media (min-width: 54em) {
  html {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--magnolia);
  }
  body {
    width: 90vw;
    min-height: 0;
    height: 615px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;

    background: var(--white);
    border-radius: 15px;

    margin-block: 40px;
    padding: 25px 15px;
  }

  .nav {
    height: 100%;
    width: 180px;

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    background: url(../assets/images/bg-sidebar-desktop.svg) no-repeat;
    background-size: cover;
    border-radius: 10px;

    overflow: hidden;
    padding-top: 30px;
    padding-inline: 15px;
  }
  .nav__button {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .btn__text {
    display: flex;
    flex-direction: column;
    color: var(--white);
    text-transform: uppercase;
  }
  .btn__text--step-num {
    font-size: 0.8rem;
    font-weight: var(--regular-weight);
  }
  .btn__text--step-title {
    font-size: 0.9rem;
    font-weight: var(--bold-weight);
  }

  .main {
    min-height: 0;
    height: 100%;

    border-radius: 15px;
    overflow: hidden;
  }
  .main__content-container {
    width: 100%;
    box-shadow: none;
  }

  .attribution {
    bottom: 10px;
  }

  .buttons {
    width: 100%;
  }

  #personal-info {
    margin-top: 40px;
  }

  #select-plan {
    margin-top: 40px;
  }
  .plan-period {
    margin-top: 30px;
  }
}
