/* screen-width <= 275.2px */
@media (max-width: 17.2em) {
}

/* screen-width <= 329px */
@media (max-width: 20.6em) {
  .nav {
    padding-block: 20px;
  }

  .main--content {
    padding: 33px 23px;
  }
  .heading-secondary {
    font-size: 0.95rem;
  }

  .input {
    text-indent: 12px;
  }
  .input::placeholder {
    font-size: 0.85rem;
  }
}

/* 660px <= screen-width */
@media (min-width: 41.25em) {
}
